body {
    margin: 0px;
}

.hero-container, .activities-container, .guide-container {
    margin: 0px auto;

    width: 100%;
    /* height: calc(100% / (1 / )); */
    aspect-ratio: 2.09912536443;
    min-width: 679px;
    max-width: 1243px;
}

.hero-container {
    background: url("assets/city.jpg");
    background-size: cover;

    text-align: center;
}

.hero-text-grp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text {
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding: 3px 12px 5px 12px;
    margin: 0px; /* comment this if suitable */
    margin-top: 119px;

    border-radius: 10px;
    background: #381d57;

    width: 300px;
}

.secondary-text {
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 18.72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding: 5px 29px 8px 28px;
    margin: 0px; /* comment this if suitable */
    margin-top: 11px;

    border-radius: 10px;
    background: #5c459d;

    width: 412px;
}

/* --- */

.activities-container {
    display: flex;
    flex-direction: column;

    background: #faeef5;

    align-items: center;

    height: 450px;
}

.activity-text-main {
    color: #421d57;
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 39px;
}

.activities-list {
    display: flex;

    justify-content: space-between;

    margin-top: 54px;

    gap: 40px;
}

.activity-card {
    display: flex;
    flex-direction: column;

    width: 198px;
    min-height: 227px;

    align-items: center;
    justify-content: space-between;
}

.activity-img {
    min-width: 103.974px;
    min-height: 103.90px;
    /* height: fit-content; */

    border-radius: 50%;
    background-size: cover;
}

.activity-img#c1 {
    background-image: url('assets/activities/car.jpg');
    background-position: 15%;
}

.activity-img#c2 {
    background-image: url('assets/activities/club.jpg');
    background-position: 90% 100%;
}

.activity-img#c3 {
    background-image: url('assets/activities/gun.jpg');
    background-position: 28% 50%;
    background-size: cover;
}

.activity-main-text {
    display: block;

    color: #401d57;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.activity-secondary-text {
    display: block;

    color: #3b1d57;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* --- */

.guide-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.guide-card {
    width: 400px;
    height: 294px;

    border-radius: 10px;
    background: #f0cff1;
    box-shadow: 0px 6px 0px 0px #1d2357;

    display: flex;
    align-items: center;
}

.guide-img {
    flex: 1;

    width: 180px;
    height: 248.667px;

    border-radius: 10px;

    background-image: url('assets/person.jpg');
    background-size: cover;
    background-position: 65% 100%;

    margin-left: 13px;
    margin-right: 8px
}

.guide-text-grp {
    flex: 1;

    display: flex;
    flex-direction: column;

    align-items: center;
    
    margin-right: 12px;
}

.guide-primary {
    display: block;

    color: #5c459d;
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.guide-secondary {
    display: block;

    color: #5c459d;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.guide-owner {
    display: block;

    color: #5c459d;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 